<div class="container site">
  <div id="home">
    <h1>Brigitte</h1>
    <div class="special">
      <h1 class="plus">+</h1>
      <h1>Matthew</h1>
    </div>
    <h2>
      <%= link_to 'Dunns Gardens / 4pm Aug 6th', 'https://maps.google.com?daddr=13533+Northshire+Rd+NW+Seattle+WA+98177' %>
    </h2>
    <%= image_tag 'https://lh3.googleusercontent.com/WCwLKdNvGACSMqEigAnBOGR4ig_Sa6zr9vi_ArjtZZY9ZXxYSC9iCbksiI_yx5aBUhFNlGt95zIB4XBZV8L8jOJcMkDYwH_SNQ7aj9dq1-y8FrK8FhHSwNu3u5A_RK4micsJoeWSMmlS7M7vm2cqpzVbl3hkhGCp7AFH0C8a7q1Gt01pruektZLRIgSqPfnSbtuj59xolBulucW_sejO3dq5tQk5RIcGfpWy6MuF3j1OKjI2z3jjMdpZi9htQ7k7BYW66k041766okbJuNuzvJhkbaQAorN1eRhjLyvFrJInDwfvhosn2wBrISPDZ9WJwE2rA-efncZpAcCcdyqTqAu7f4k17j9X1eEb5rfiJLKdvywvdPRc7a9L1nU6gT22N3B6ErxvjKxuxWrfqtvpb_oebly8KorWUOgPFDlqv8NnFU8bc7zcp-tMSjAVuoxtZs7AU_hhxXWV5sG7VO8QY0d-O7ZuX6xOFKCeYffcqw8wYjdUaUXaZY8cmLnyGu6GCRX7DfqrrsrTXlPJ5koAGpTEinF4h7uimdegOdSKZYm2lE0-uagKjCTTiU6hPC5z_DBApDfwHXx5v3VHzB-HCMWBBi48EpR3=w2193-h1461-no', class: 'img-responsive' %>
  </div>

  <div id="engagement">
    <h3>Engagement</h3>
    <p>
      I have a great loml.
    </p>
  </div>

  <div id="registry">
    <h3>Registry</h3>
    <p>
      Pay for our honeymoon on <%= link_to 'Wanderable', 'https://www.wanderable.com' %>.
    </p>
  </div>

  <div id="directions">
    <h3>Directions</h3>
    <p>
      If you're lost, then use google maps.
    </p>
  </div>
</div>