<div class="container site">
  <div id="home">
    <h1>Brigitte</h1>
    <div class="special">
      <h1 class="plus">+</h1>
      <h1>Matthew</h1>
    </div>
    <h2>
      <%= link_to 'Dunn Gardens / 4pm Aug 6th', 'https://maps.google.com?daddr=13533+Northshire+Rd+NW+Seattle+WA+98177' %>
    </h2>
    <%= image_tag 'https://lh3.googleusercontent.com/gv6TXDe6s8oUIih-jCEuS2bPAg-3xUfEHC9MmxWxEEjJrnpZE0wP8kdqEqMiq09Fcbv1DVGH8xr-5q57QNfOK4YuHeFDft4uvwSV93qEjlLdm3WM8UEmiUBsDFE9aBca_KLuWlOjLHBufzKlPcXNfPpk7802kaiQCE7lDx6PQJxsBu1xhi4zRLyx4Wl2psKGWFyQd4_XSiWmOw5Mvk1Cp3ziFF_vEBDoPe0qe_zXHpltdq2G4Mr9J3TZuOZ0BAjZjrWA6f2rkljALKVYwu6CDbwv30OmOtoehr67ZK3ycx5g3cksWajHGHq2BR3Z72TgQ9CeACj3_Wh3l42FrckYM7Ktbf_e5lcy99_vYIfxMKEgfVm892UmoYPipxjWFKApO7wyRRnfL3CyomnzJEOQg4weOTKRl_6nNQT8BC-U4y1ZVdf07iy-jx_QfGmfQ5w-KUKnNm1IB9TEXrgwAzH4DLAt7n1ySCKNDvug6xfzZvh0rffNSRq5NH5Sk1r33SamxLiFOpjtO_BKy-HVHdGH-25tCFveepoZNCAWNLg0Z_akiiKVhsCKsC_aaWngL30Yi1AcD4OF9-X1DxY3vGBlR3LNZaza1FLL=w2193-h1461-no', class: 'img-responsive' %>
  </div>

  <div id="engagement">
    <h3>Engagement</h3>
    <p>
      I have a great loml.
    </p>
  </div>

  <div id="registry">
    <h3>Registry</h3>
    <p>
      Pay for our honeymoon on <%= link_to 'Wanderable', 'https://www.wanderable.com' %>.
    </p>
  </div>

  <div id="directions">
    <h3>Directions</h3>
    <p>
      If you're lost, then use google maps.
    </p>
  </div>
</div>