<div id="rehearsal">
  <div class="title">
    <% 'Rehearsal Dinner'.each_char.each_with_index do |char, index| %>
      <%= content_tag :span, char, class: "char-#{index}" %>
    <% end %>
  </div>
  <hr />
  <div class="lovers">Brigitte + Matthew</div>
  <hr />
  <div>7PM Aug 5th</div>
  <div>Ristorante Picolinos</div>
</div>
<div id="regrets">
  Regrets only: brigittewoods@gmail.com
</div>
