<nav>
  <div class="container">
    <a class="brand" href="#home">Brigitte + Matt</a>
    <a href="#wedding">Wedding</a>
    <a href="#venue">Venue</a>
    <a href="#accomodations">Accomodations</a>
    <a href="#registry">Registry</a>
  </div>
</nav>